<h1 class="text-center"><%= t('user.new') %></h1>
<%= render "users/form", user: @user %>
<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to users_path, class: "d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm" do %>
    <i class="fa-solid fa-arrow-left"></i> <%= t('back') %>
  <% end %>
</div>